@{
    ViewData["Title"] = "Om oss";
}
<h1 class="display-4">Om oss</h1>
<p>Fjällkompisar är en webbplats där användare kan samlas för att dela med sig av vilken utrustningen de åker på när de
    är ute på fjället.
    På startsidan listas alla vänner som besökt webbsidan och lämnat information om vad de åker på under vintersäsongen.
    Förhoppningsvis får du lite inspiration till att testa några nya skidor eller snowboards, eller så kanske det visar
    sig att du och någon annan åker på samma!<br/><br/>

    <strong>Fyll gärna i din egna utrustning om du har någon, här är alla välkomna oavsett nivå!</strong></p>
    <div class="skibuddies">
        <img src="~/images/skibuddies.jpg" alt="Tre personer sitter i en skidlift">
    </div>
