@model dt191gmoment2.Models.EquipmentModel // Importera och använd utrustningsmodell
@{
    ViewData["Title"] = "Utrustning";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Vad åker du på?</h1>
        <p>Det finns en hel djungel av utrustning när det kommer till att spendera tid på fjället under vintersäsongen.
            Fyll i formuläret nedan och dela med dig av vad du åker på!
            Du får gärna lägga till flera skidor eller snowboards, det kan ju vara så att du sitter på en hel skidfabrik där hemma.</p>
    </div>

    <form class="EquipForm" method="post">
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Åkarens namn" />
            <!-- Felmeddelande -->
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SkiSnowboard" class="form-label"></label>
            <input asp-for="SkiSnowboard" class="form-control" placeholder="Skid-/snowboardmodell" />
            <!-- Felmeddelande -->
            <span asp-validation-for="SkiSnowboard"></span>
        </div>
        <div class="mb-3">
            <label asp-for="EquipLength" class="form-label"></label>
            <input asp-for="EquipLength" class="form-control" placeholder="Längd på din utrustning (cm)" />
            <!-- Felmeddelande -->
            <span asp-validation-for="EquipLength"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Binding" class="form-label"></label>
            <input asp-for="Binding" class="form-control" placeholder="Vilken bindning du använder" />
            <!-- Felmeddelande -->
            <span asp-validation-for="Binding"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Lägg till utrustning">
    </form>
</div>